extends layout

block content
    h1= Register
    register form
        form(method='POST' action='/users/login')
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='first and last' name='username')
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
            input(type='submit' value='Login')