/** _button.scss */

$btn_color_default: #fff;
$btn_color_blue: #4096ff;
$btn_color_orange: #ffb611;
@function btnColor($color) {
  @return darken($color, 20%)
}

.btn-default {
  padding: 10px 16px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: percentage(20/100);
  color: #535353;
  background-color: $btn_color_default;
  &:hover {
    background-color: btnColor($btn_color_blue);
  }
}

.btn-blue {
  @extend .btn-default;
  $btn_color_blue: blue !default;
  border: 1px solid $btn_color_blue;
  color: #fff;
  background-color: $btn_color_blue;
}

.btn-orange {
  @extend .btn-default;
  $btn_color_orange: orange !default;
  border: 1px solid $btn_color_orange;
  color: #fff;
  background-color: $btn_color_orange;
  &:hover {
    background-color: saturate($btn_color_orange, 60%);
  }
}

.btn-green {
  @extend .btn-default;
  $btn_color_green: green !default;
  border: 1px solid $btn_color_green;
  color: #fff;
  background-color: $btn_color_green;
  &:hover {
    background-color: btnColor($btn_color_green);
  }
}